.classify_list_all {
  position: relative;
  padding-left: 20px;
  height: 88px;
  padding: 16px 0;
  width: 100%;
  background: url(/images/list_background.jpg) no-repeat;
  background-size: 100%; }
  .classify_list_all .list_all_select {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    height: 86px;
    width: 86px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 86px;
    position: absolute;
    top: 13%;
    left: 8%; }

.title_active {
  color: #000;
  border-bottom: 2px solid #000;
  box-sizing: border-box; }

.classify_list_title {
  height: 44px;
  line-height: 44px; }
  .classify_list_title .list_title_ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    text-align: center; }
    .classify_list_title .list_title_ul .list_title {
      color: #808080;
      float: left;
      height: 40px;
      line-height: 40px;
      width: 11%;
      text-align: center;
      margin: 0 41px; }

.classify_list_content {
  width: 100%;
  height: 100%;
  display: flex; }
  .classify_list_content .list_content_product {
    width: 49.7%;
    height: 309px;
    float: left;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5; }
    .classify_list_content .list_content_product .content_product_img {
      width: 100%; }
    .classify_list_content .list_content_product .content_product_title {
      color: #808080;
      font-size: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%; }
    .classify_list_content .list_content_product .content_product_price {
      font-size: 0.26rem;
      color: #000;
      margin-right: 0.1rem;
      margin-left: 0.3rem; }
    .classify_list_content .list_content_product .content_product_p {
      color: #808080;
      font-size: 0.22rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
      margin-left: 0.3rem; }
