img {
  width: 100%; }

.swiper-wrapper img {
  width: 120px;
  height: 120px; }

.swiper-slide {
  text-align: left;
  background: #fff;
  width: 33%; }

#recommend .recommend_div {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  #recommend .recommend_div .recommend_h2 {
    color: #333;
    text-align: center;
    line-height: 30px;
    height: 38px;
    font-size: 18px;
    line-height: 38px; }
  #recommend .recommend_div .recommend_p {
    text-align: center;
    font-size: 12px;
    color: #808080;
    line-height: 30px; }
  #recommend .recommend_div .p_recommend {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 30px; }
  #recommend .recommend_div .h4_recommend {
    font-size: 14px;
    text-align: center;
    width: 100%;
    line-height: 30px; }

.ant-spin-nested-loading {
  margin-top: 50%; }

.example {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0; }
