.sidebar1 {
  height: 40px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 40px; }
  .sidebar1 .ul_aside1 {
    height: 40px;
    line-height: 40px;
    display: flex; }
    .sidebar1 .ul_aside1 li {
      flex: 1;
      text-align: center; }

.active1 {
  border-bottom: 3px solid #000; }
