#productGroup{
	width: 100%;
	/* background: #fff; */
	.img_url{
		margin-bottom: 10px;
		height: 250px;
		width: 100%;
	}
	.productGroup_ul{
		width: 100%;
		height: auto;
		overflow: hidden;
		background: #fff;
		.productGroup_li{
			width: 50%;
			float: left;
			border: 1px solid #ccc;
			box-sizing: border-box;
			height: 270px;
			img{
				width: 100%;

			}
			.productGroup_p{
				margin-left: 10px;
				font-size: 13px;
				color: #808080;
				line-height: 20px;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.productGroup_h4{
				margin-left: 10px;
				font-size: 14px;
				width: 100%;
				line-height: 10px;
			}			
		}
	}
}