section{
	padding-top: 80px;
}
#home{
	.search1{
		height: 50px;
		/* line-height: 40px; */
		padding-top: 10px;
		position: fixed;
		top: 0;
		left: 0;
		background: #fff;
		z-index: 100;
		img{
			width: 20%;
			float: left;
			margin-left: 5px;
		}
		.input{
			background: #f5f5f5;
			border-radius: 12px;
			height: 30px;
			line-height: 30px;
			width: 70%;
			float: left;
			margin-left: 10px;
			input{
				height: 26px;
				width: 80%;
				border:none;
				background: #f5f5f5;
				outline: none;
			}
			i{
				margin-left: 10px;
			}
		}
	}
}