section {
  padding-top: 82px; }

#home .search1 {
  width: 100%;
  height: 40px;
  /* line-height: 40px; */
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100; }
  #home .search1 img {
    width: 20%;
    float: left;
    margin-left: 5px; }
  #home .search1 .input {
    background: #f5f5f5;
    border-radius: 12px;
    height: 30px;
    line-height: 30px;
    width: 70%;
    float: left;
    margin-left: 10px; }
    #home .search1 .input input {
      height: 26px;
      width: 80%;
      border: none;
      background: #f5f5f5;
      outline: none; }
    #home .search1 .input i {
      margin-left: 10px; }
