nav {
  height: 40px;
  width: 100%;
  display: flex;
  line-height: 40px;
  background: #f00; }
  nav .icon-viewlist {
    flex: 1;
    padding-left: 10px; }
  nav .icon-viewgallery {
    flex: 1;
    text-align: right;
    padding-right: 10px; }
  nav span {
    flex: 1;
    text-align: center; }
