.l_news {
  float: left; }

.r_news {
  float: right; }

.news_div {
  background: #fff;
  height: 100%; }

.news_div .news_p1 {
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-top: 1px solid #EAEAEA;
  font-size: 20px;
  font-weight: bold;
  margin: 0px; }

.news_div .news_p2 {
  width: 80%;
  height: 50px;
  padding-top: 10px;
  margin: 0px;
  border-top: 1px solid #EAEAEA;
  margin-left: 15%; }

.news_div .news_p3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-left: 15%;
  color: #ccc; }

.news_div .news_p4 {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px; }

.news_div .news_p5 {
  width: 80%;
  height: 50px;
  margin: 0px;
  padding-top: 10px;
  border-top: 1px solid #EAEAEA;
  margin-left: 15%; }

.news_div .news_p6 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-left: 15%;
  color: #ccc; }

.news_div .l_news {
  width: 35px;
  height: 35px;
  margin-top: 22px;
  margin-right: 14px;
  margin-left: 3%; }

.news_div .l_news2 {
  width: 35px;
  height: 35px;
  margin-top: 23px;
  margin-right: 14px;
  margin-left: 3%; }
