.box1{
	background:#fff;
}
.box1 img{
	width:100%;
}
.picture3 {
	width:33.33%;
	float:left;
}
.picture3 img{
	widt:100%;
}
.p1{
	text-align:center;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:12px;
    padding:0 10%;
    color:#ccc;
    line-height:20px;
}
.picture6 {
	width:50%;
	float:left;

}
.picture6 img{
	width:100%;
}
.p2{
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:12px;
    padding:0 10%;
    color:#ccc;
    line-height:20px;

}
.money{
	color:#000;
}
.people{
	width:100%;
	height:50px;
	text-align:center;
	line-height:62px;
	float:left;
	color:#333;
	font-size:16px;
	// font-family:"微软雅黑"；
	// color: transparent;
 	// text-shadow: #111 0 0 50px;
 	border-bottom:3px solid #bbb;
	

}

